<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="2">
	<test name="Compare temperature">
		<classes>
			<class name="com.example.TC_01_Demo_TestNG" />
			<class name="com.example.TC_02_OpenGoogle" />
		</classes>
	</test>
</suite>